.SinglePet {
  width: 50rem;
  background-color: white;
  text-align: center;
  border-style: solid;
  display: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
   img {
    height: 100%;
    width: 100%;
  }
}