.SinglePet {
  width: 40rem;
  background-color: white;
  text-align: center;
  align-items: center;
  border-style: solid;
  margin-bottom: 20px;
  margin-left: 30%;
   img {
    height: 100%;
    width: 100%;
  }
  box-shadow: 3px 3px 5px 6px rgb(12, 4, 4);
}

.BackgroundPet {
  background-image: url(https://raw.githubusercontent.com/jbkey2015/animal-rescue/master/screenshots/background2.jpg);
  background-repeat: repeat-cover;
  background-size: 200px;
}

.card-header {
  background-color: lightgray;
}