.SinglePet {
  width: 40rem;
  background-color: white;
  text-align: center;
  align-items: center;
  border-style: solid;
  margin-bottom: 20px;
  margin-left: 30%;
   img {
    height: 70%;
    width: 100%;
  }
}

.BackgroundPet {
  background-image: url(https://image.shutterstock.com/image-vector/vector-lettering-set-saying-about-600w-717178486.jpg);
  background-repeat: repeat-cover;
  background-size: 200px;
}