.Auth {
  display: block;
}

.SingleShelter {
  background-image: url(https://images.unsplash.com/photo-1521128591876-b4ace034003a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 55px;
  height: 150vh;
}

