.Auth {
  display: block;
}

.SingleShelter {
  background-image: url(https://i.pinimg.com/originals/3b/c3/65/3bc36538855403e627139fbb8c94011f.jpg);
  background-size: cover;
  padding-top: 55px;
  height: 150vh;
}