.Auth {
  display: block;
}

.SingleShelter {
  background-image: url(https://previews.123rf.com/images/sokolfly/sokolfly1812/sokolfly181200019/114473105-vector-animal-shelter-icon-seamless-pattern-thin-line-web-icon-illustration-background-cat-and-dog-h.jpg);
  padding-top: 55px;
  height: 150vh;
}